{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imagecategory edit</h1>

    {{ form_start(edit_form) }}
        <br>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_widget(edit_form) }}<br>
                <img src="/{{product_images_directory_assert}}/{{ imageCategory.image }}" width="100">
            </div>
            <br>
            <div class="col-sm-10">
                <input type="submit" value="Edit" class="btn btn-info"/>
                <a href="{{ path('imagecategory_index') }}" class="btn btn-success">Back to the list</a>
            </div>
        </div>
   
    {{ form_end(edit_form) }}
{% endblock %}
