{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title"><strong>Product Category</strong></div>
                </div>
                <div class="panel-body">
                    <table class="table col-md-3">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ imageCategory.id }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ imageCategory.name }}</td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td><img src="/{{product_images_directory_assert}}/{{ imageCategory.image }}" width="100"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"><br><br><br>
                                    {{ form_start(delete_form) }}
                                        <a href="{{ path('imagecategory_edit', { 'id': imageCategory.id }) }}" class="btn btn-primary">Edit</a>
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <a href="{{ path('imagecategory_index') }}" class="btn btn-default">Back to the list</a>
                                    {{ form_end(delete_form) }}                    
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
                
    {#<h1>Imagecategory</h1>

    <table class="table col-md-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imageCategory.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ imageCategory.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="/{{product_images_directory_assert}}/{{ imageCategory.image }}" width="100"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {{ form_start(delete_form) }}
                        <a href="{{ path('imagecategory_edit', { 'id': imageCategory.id }) }}" class="btn btn-primary">Edit</a>
                        <input type="submit" value="Delete" class="btn btn-danger">
                        <a href="{{ path('imagecategory_index') }}" class="btn btn-default">Back to the list</a>
                    {{ form_end(delete_form) }}                    
                </td>
            </tr>
        </tfoot>
    </table>#}
{% endblock %}
