<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('theme/bootstrap/css/bootstrap.min.css') }}">
        <!-- styles -->
        <link rel="stylesheet" href="{{ asset('theme/css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block topnav %}
        {% include '::topnav.html.twig' %}
    {% endblock %}

    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                        <li><a href="/admin/user"><i class="glyphicon glyphicon glyphicon-user"></i> Users</a></li>
                        <li><a href="/admin/orderproduct"><i class="glyphicon glyphicon-shopping-cart"></i> Orders</a></li>
                        
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Masters
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/admin/imagecategory">Product Category</a></li>
                                <li><a href="/admin/productimages">Product Images</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('theme/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/js/custom.js') }}"></script>
    {% block javascripts %}

    {% endblock %}
    <script>
        $(function () {
            $('a[title]').tooltip();
        });
    </script>
</body>
</html>