<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="index.html">{{ site_name}} Admin</a></h1>
                </div>
            </div>
            <div class="col-md-2">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href="/profile">View Profile</a></li>
                                    <li><a href="/profile/change-password">Reset password</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{#<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="/">Pardawala</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li>
                    <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p class="navbar-text">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    </p>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>#}