{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="table col-md-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ user.username }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}" class="btn btn-default">Back to the list</a>
        
{% endblock %}
