{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productimages list</h1>
    
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-notice alert alert-danger">
            <strong>Error!</strong> {{ flash_message }}
        </div>
    {% endfor %}
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Product Category</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productImage in productImages %}
            <tr>
                <td><a href="{{ path('productimages_show', { 'id': productImage.id }) }}">{{ productImage.id }}</a></td>
                <td>{{ productImage.name }}</td>
                <td>{{ productImage.imageCategory }}</td>
                <td>
                    <img src="/{{product_images_directory_assert}}/{{ productImage.image }}" width="100">
                </td>
                <td>
                        <a href="{{ path('productimages_show', { 'id': productImage.id }) }}" class="btn btn-warning">show</a>
                        <a href="{{ path('productimages_edit', { 'id': productImage.id }) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <a href="{{ path('productimages_new') }}" class="btn btn-default">Create a new ProductImage</a>
    
{% endblock %}
